body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.grid-config {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: "image heading"
                          "image text";
    margin: 0 1rem 2rem 0;
}
.heading {
    grid-area: heading;
}
.image {
    grid-area: image;
}
.text {
    grid-area: text;
}
.container {
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 1em;
    background-color: gainsboro;
    background-image: linear-gradient(to bottom right, gainsbro, white);

}
.container .heading {
    float: right;
    box-sizing: border-box;
    width: 70%;
}
.container .heading h1 {
    font-family: 'Anton', sans-serif;
    
}
.container .text p {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container .image {
    float: left;
    box-sizing: border-box;
}
.container .text {
    float: right;
    width: 70%;
    box-sizing: border-box;
}
.container .image img {
    padding: 5px;
    border: 1px lightgray solid;
    background: white;
    box-shadow: 3px 3px darkgrey;
    max-width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.reverse .text{
    float: left;
}
.reverse .heading {
   float: left;
}
.reverse .image {
    float: right;
}


@media screen and (max-width: 425px){
    body{
        margin: 0px;
    }
    .container {
        
        width: 100%;
        min-width: 320px;
        padding: 10px;
    }
}
