html {
    width: 960px;
    font-family: Courier New;
    
}
#section{
    width: 50%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #EAECF0;
}

h1, h2{
    font-weight: bold;
}
