
body{
    background-color: #84C15B;
    font-family: Gotham, Helvetica, Arial, Helvetica, sans-serif;
}

.maincontent {
    border: 1px solid black;
    margin: 10px;
    background-color: #E4DCC3;
    
}

.vision {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: white 10px solid;
    border-width: 10px 10px 10px 10px;
}
.vision > * {
    flex-grow: 1;
}
.vision section{
    font-size: 25px;
    flex-grow: 2;
    margin-left: 10px;
}
.vision-img{
    width: 90%;
}

figure {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo  {
    weight: 250px;
    height: 150px;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    padding: 10px;
}
.menu > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
    text-align: center;
}
.menu_item {
    border: 1px solid #84C15B;
    background-color: #9DCD7C;
    border-radius: 10px;
    cursor: pointer;
}

.menu_item {
    opacity: 1;
  }

  .menu_item:hover {
    opacity: 0.6;
  }


.boxes {
    border: 1px solid black;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: black;
}
.boxes-img {
    width: 100%;
}
.boxes > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
}

.text {
    border: 1px solid black;
    background-color: #CBCBCB;
    padding: 10px;
    margin-bottom: 10px;
}
.footer {
    padding: 10px;
    color: white;
}
.phone {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.phone a {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

.fa-angle-right {
    float: right;
    font-size: 20px;
}



@media screen and (max-width: 425px) {

    .maincontent{
        background: none;
        border: none;
    }
    .vision {
        border: none;
    }
   .menu {
    display: block;
   }
   .logo {
       width: 100%;
   }
  
   .vision-img {
       display: none;
   }
   .boxes-img {
       width: 100%;
   }
   .boxes {
    display: flex;
    flex-direction: column;
   }
   .footer {
       padding: 10px;
   }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }
    .boxes {
        flex-wrap: wrap;
    }
    .boxes-img {
        width: 100%;
    }
    
    .vision-img {
        width: 90%;
    }
    .specials  {
        display: flex;
    }
    .news {
        flex-basis: 100%;
    }
    .specials {
        display: block;
    }
    .boxes {
        display: block;
    }
    .footer {
        padding: 10px;
    }
}

@media screen and (max-width: 1440px) {
    .boxes-img {
        width: 100%;
    }
    .vision-img {
        width: 90%;
    }
    .boxes {
        display: flex;
    }
    .footer {
        padding: 10px;
    }
}


