html{
    font-size: 62.5%;
}
body {
    background-color: whitesmoke;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
.col-2 section {
    background-color:#5F9E9F;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 47%;
}
.col-3 section {
    background-color: #6495ED;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 31%;
}
.col-4 section {
    background-color: #268B8A;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 23%;
}
.col-5 section {
    background-color: #1C8001;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 18.2%;
}
.col-6 section {
    background-color: #146400;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 15%;
}
.col-7 section {
    background-color: #A52A29;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 12.72%;
}
.col-8 section {
    background-color: #F88C01;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 11%;
}
.col-9 section {
    background-color: #F8A406;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 9.67%;
}
.col-10 section {
    background-color: #FAD703;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 8.6%;
}
.col-11 section {
    background-color: #F0E68C;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 7.73%;
}
.col-12 section {
    background-color: #F5DEB2;
    float: left;
    height: 50px;
    margin-right: 1%;
    width: 7%;
}
.col-2 section:last-child{
    margin-right: 0;
}
.col-6 section:last-child{
    margin-right: 0;
}