html {
    font-size: 80%;
    font-family: 'Press Start 2P', cursive;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    max-width: 60%;
    background-image: white;
    margin-left: auto;
    margin-right: auto;
}
header {
    border: 2px solid #69013B;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #69013B;
    color: #F5DCD1;
}
#logo {
    float: right;
    width: 10rem;
    padding: 1rem;
}
#logo img {
    max-width: 100%;
}

article {
    border: 2px solid #69013B;
}

h1 {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    padding: 10px;
}
h3 {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
/* a:visited {
    color: #cecece;
} */

.sisennys-4rem {
    padding: 10px 0 10px 40px;
    font-style: italic; 
    font-weight: bold;
    color: #333333; 
}
.footer-p {
    padding: 10px;
    border: 2px solid #69013B;
    background: #69013B;
    color: #F5DCD1;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}