body {
    font-family: 'Inconsolata', monospace;
}
.special {
    padding: 10px;
    background-color: #6A8087;
    width: 940px;
    margin: auto;
    background-image: url(img/special-bg.png);
    background-position: left bottom;
    background-repeat: repeat-x;
}
h1 {
    font-weight: bold;
}
h2 {
    margin: 10px 0px 10px 0;
}
p {
    margin-top: 10px;
}
section.main {
    flex-basis: 60%;
}
.wrapper > * {
    flex-basis: 100%;
}
.wrapper {
    width: 960px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-image: url(img/grunge.png);
    background-repeat: no-repeat;
}

.menu-nav {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-left {
    column-count: 2;
}

.logo {
    margin-bottom: -10px;
    margin-top: -6px;
    margin-right: -30px;
}
.img {
    width: 95%;
    padding: 10px 0 10px 0;
}

.list {
    column-count: 1;
}
.header {
    margin: 10px;
    text-align: center;
    width: 960px;
}
.content {
    float: left;
    flex-basis: 60%;
    box-sizing: border-box;
    padding: 10px;
}
aside.sidebar {
    flex-basis: 40%;
}
.sidebar {
    padding: 10px;
 
    box-sizing: border-box;
}
.callout {
    border: 1px solid #F5E8C7;
    padding: 10px;
    text-align: center;
    background-color: #F5E8C7;
    border-radius: 10px;
}
.footer {
    margin: 10px;
    display: block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.footer-teksti {
    text-align: center;
}
.footer-logo {
    text-align: center;
}
.caps {
    margin-top: 10px;
    text-transform: uppercase;
}
.head_text {
    color: white;
}
.small_tekst {
    text-transform: lowercase;
}

@media screen and (min-width: 551px) and (max-width: 800px) {
    .wrapper {
        width: auto;
        margin: 10px;
    }
    .special {
        width: auto;
        margin: 10px;
    }
    section.main {
        order: 1;
        flex-basis: 100%;
    }
    aside.sidebar {
        order: 2;
        flex-basis: 100%;
    }   
    footer {
        order: 3;
    }
    h2 {
        text-align: center;
    }
    .caps {
        margin-top: 20px;
        text-align: center;
    }
    .small_tekst {
        display: none;
    }
    .list {
        text-align: center;
    }
    .list-left {
        column-count: 1;
    }
}
@media screen and (max-width: 550px){
    .menu-nav {
        margin: 0px;
    }
    .wrapper {
        width: auto;
        margin: 10px;
    }
    .special {
        width: auto;
    }
    section.main {
        order: 1;
        flex-basis: 100%;
    }
    aside.sidebar {
        order: 2;
        flex-basis: 100%;
    }   
    .small_tekst {
        display: none;
    }
    footer {
        order: 3;
    }
    .caps {
        margin-top: 20px;
        text-align: center;
    }
    .small_tekst {
        display: none;
    }
    .list {
        text-align: center;
    }
    .list-left {
        column-count: 1;
    }
    h2 {
        text-align: center;
    }
}