<div class="top">
  <img class="iphoneImg" src="assets/img/iso-iphone-xs.jpg" alt="">
  <hr>
</div>
  <h2>Phone Models</h2>
<div class="container">
  <div class="phoneList" *ngFor="let product of products; index as productId">
    <div class="items">
      <div *ngIf="product.imgUrl">
        <img [src]="product.imgUrl" class="img-fluid p-5"/>
      </div>
      <h3 class="phoneTitle"><a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        {{ product.name }}
      </a></h3>
      <p class="price">{{ product.price | currency }}</p>

      <div>
        <p *ngIf="product.short_description" [routerLink]="['/products', productId]">
          Description: {{ product.short_description }}
        </p>

        <button class="btn btn-primary btn-sm mr-2">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </button>
        <button class="btn btn-primary btn-sm mr-2">
          <fa-icon [icon]="faTwitterSquare"></fa-icon>
        </button>
        <button class="btn btn-primary btn-sm">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </button>

        <button class="btn btn-info ml-5 " (click)="addToCart(product)" >
          Buy Now
        </button>

      </div>
    </div>
  </div>
</div>


