body {
    padding: 10px;
    font-size: 1.6rem;
}

.ylatunniste {
    padding: 10px;
    border: 1px dotted black;
}

#rinnakkain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    border: 1px dotted black;
}
footer {
    border: 1px dotted black;
}
