/* Mobile first*/
html {
    font-size: 62.5%;
    /*16px x 62.5% = 10px */
}

body {
    font-size: 1.3rem;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}

p {}

/* Määritellään responsiivinen kuva*/
figure {
    /*resetissä määritelty display: block*/

}

figure img {
    max-width: 100%;
}

figcaption {
    font-style: italic;
    text-align: center;
}

/* Lisätään sivuun pääelementtien väliin tilaa 10px*/

/* h1, p, figure {
    margin-bottom: 1rem;
} */

body>* {
    /*body elementin välittömät lapset*/
    margin-bottom: 1rem;
}

.parent { /* Logot figure-tageissä allekkain*/

}

.parent > * { /* .parent elementin välittömät lapset*/
    

}

/* Mobiilia suuremmat näytöt*/
@media only screen and (min-width: 426px) {
    .parent { /* Logot figure-tageissä allekkain*/
        display: flex; /* flex käyttöön .parent-elementin lapsille*/
        flex-direction: row; /* .parent-elementin lapset rinnakkain*/
        flex-wrap: nowrap; /*... lapset pysyvät yhdellä rivillä */
    }

    .parent > * { /* .parent elementin välittömät lapset*/
        flex-grow: 1; /* lapset yhtä leveitä */
        flex-basis: 0; /* lapset minimileveys */
    }
}

footer {

    text-align: center;
}