<div class="container">
  <h2 class="pl-2 text-center">The Mobile Phone Store</h2>

  <div class="left_menu">
    <div class="row">
      <div class="col-3">
        <form class="form-inline waves-light" >
          <div class="searchForm">
            <input class="form-control" type="text" placeholder="Search">
          </div>
        </form>
        <select class="selectForm" size="1">
          <option value="1">Newest</option>
          <option value="2">Alphabetical</option>
        </select>
      </div>
      <div class="col-9">
        <ul>
          <li class="listOfPhones" *ngFor="let phones of phones; index as productId">
            <div><img src="{{phones.imageUrl}}" class="images"></div>

            <div class="phonesInfo">
              <h6><a [title]="phones.name + ' details'" [routerLink]="['/products', productId]">
                {{ phones.name }}
              </a></h6>
              <p class="descr">{{phones.snippet}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
