<section>
  <div class="container my-container">
    <div class="body col">
      <h3 class="title">Success- ja Warning-ilmoitukset</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur expedita explicabo  hic ipsa nulla
        praesentium!
        Atque consectetur dicta earum explicabo nisi officia quae similique voluptatum! Doloribus eaque eos error
        eveniet ex fugit inventore labore quas soluta suscipit!
        Accusantium adipisci alias aperiam architecto consequuntur cumque excepturi quidem, tempore vero. Cupiditate,
        doloremque.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab, alias cumque eius esse fuga id impedit iure
        libero maxime mollitia natus neque nulla optio pariatur perspiciatis placeat quae quibusdam quisquam ratione rem
        sequi sunt temporibus tenetur vel veritatis voluptas?
      </p>
      <hr>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 alert-div">
              <app-success-alert></app-success-alert>
            </div>
            <div class="col-sm-6 warning-div">
              <app-warning-alert></app-warning-alert>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>







